.adminRoot {
display: flex;
min-height: 100vh;
background: #f7f8fb; /* subtle off-white */
}


.mainArea {
flex: 1;
display: flex;
flex-direction: column;
}


.contentArea {
padding: 24px;
max-width: 1200px;
margin: 0 auto;
width: 100%;
}


/* responsive */
@media (max-width: 900px) {
.contentArea { padding: 16px; }
}