.icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #cbd5e1; /* slate-300 */
}

.icon:hover {
  background-color: #1e293b; /* slate-800 */
  color: #818cf8; /* indigo-400 */
}

.active {
  background-color: #6366f1; /* indigo-500 */
  color: white;
  box-shadow: 0 0 10px rgba(99, 102, 241, 0.5);
}
